@media all and (max-width: 768px) {
  .last {
    display: none;
  }
  /*------------------------------------------------------------------------------------------*/
  /*-----------------------------------------HEADER-------------------------------------------*/
  /*------------------------------------------------------------------------------------------*/
  header {
    height: 50px;
    align-items: center;
  }

  .div_logo,
  .div_picto_menu {
    width: 40%;
    display: flex;
  }

  .div_logo {
    justify-content: start;
  }

  .div_picto_menu {
    justify-content: end;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  #picto_burger {
    display: block;
    width: 25px;
    height: 25px;
  }

  #picto_cross,
  #picto_burger.open {
    display: none;
  }

  #picto_cross.open {
    display: block;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
  }

  .overlay_menu_mobile {
    z-index: 10;
    position: fixed;
    top: 50px;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(16, 14, 37, 0.3);
    display: none;
    opacity: 0;
    transition: opacity 0.7s ease-out;
  }

  nav {
    position: fixed;
    top: 50px;
    right: -50vw;
    width: 50vw;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    opacity: 0;
    transition: right 0.7s ease-out, opacity 0.7s ease-out;
  }

  .overlay_menu_mobile.open {
    display: block;
    opacity: 1;
  }

  nav.open {
    right: 0;
    opacity: 1;
  }

  .nav_bar_menu {
    height: 75%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
  }

  .nav_bar_menu h1 {
    display: inline;
    width: 100%;
    text-align: center;
  }
  /*------------------------------------------------------------------------------------------*/
  /*-------------------------------------HERO SECTION-----------------------------------------*/
  /*------------------------------------------------------------------------------------------*/
  .hero_section {
    padding-top: calc(50px + var(--spacing_sm));
  }
  .block_search {
    width: 75%;
  }
  /*------------------------------------------------------------------------------------------*/
  /*--------------------------------WHO ARE & OUR NUMBER--------------------------------------*/
  /*------------------------------------------------------------------------------------------*/
  .about_left,
  .about_right {
    flex-direction: column;
  }

  .about_right .img_about_right,
  .about_left .img_about_left {
    margin: 0;
  }

  /*  .img_about_right img,
  .img_about_left img {
    margin-top: 2.5%;
  } */

  /*  .txt_about_left p,
  .txt_about_right ul {
    text-align: center;
  } */

  .btn_learn_more {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  /*------------------------------------------------------------------------------------------*/
  /*----------------------------MISSIONS & TESTIMONIALS---------------------------------------*/
  /*------------------------------------------------------------------------------------------*/
  .card_mission,
  .card_testimonials {
    width: 100%;
  }

  .block_testimonials {
    flex-wrap: wrap;
  }
  /*------------------------------------------------------------------------------------------*/
  /*-----------------------------------------MODAL--------------------------------------------*/
  /*------------------------------------------------------------------------------------------*/
}
