:root {
  --primary_yellow: #ffd900;
  --primary_dark: #100e25;
  --primary_yellow_dark: #755312;

  --category_social: #2d1b55;
  --category_ecological: #1b5533;
  --category_cultural: #55291b;

  --success: #1b5533;
  --error: #8b0202;
  --warning: #755312;
  --info: #6b7280;

  --bg_primary: #ffffff;
  --bg_secondary: #fae1c4;
  --bg_overlay: rgba(16, 14, 37, 0.8);

  --spacing_xs: 0.25rem; /* 4px */
  --spacing_sm: 0.5rem; /* 8px */
  --spacing_md: 1rem; /* 16px */
  --spacing_lg: 1.5rem; /* 24px */
  --spacing_xl: 2rem; /* 32px */
  --spacing_xxl: 3rem; /* 48px */
  --spacing_xxxl: 4rem; /* 64px */

  --padding_button_sm: 0.25rem 0.75rem;
  --padding_button_md: 0.5rem 1.5rem;
  --padding_button_xl: 0.75rem 2.25rem;

  --radius_sm: 5px;
  --radius_lg: 15px;
  --radius_xl: 30px;
  --radius_circle: 50%;

  --shadow_sm: 0 2px 4px rgba(16, 14, 37, 0.05);
  --shadow_md: 0 4px 8px rgba(16, 14, 37, 0.1);
  --shadow_lg: 0 8px 24px rgba(16, 14, 37, 0.15);
  --shadow_success_md: 0 4px 12px rgba(19, 82, 50, 0.8);
  --shadow_success_lg: 0 8px 24px rgba(19, 82, 50, 0.8);
  --shadow_error_md: 0 4px 6px rgba(100, 24, 24, 0.8);
  --shadow_error_lg: 0 8px 12px rgba(100, 24, 24, 0.8);

  --font_family: "Roboto", sans-serif;
  --font_size_xs: 0.75rem;
  --font_size_mobile: 0.875rem;
  --font_size_base: 1rem;
  --font_size_medium: 1.25rem;
}
/*------------------------------------------------------------------------------------------*/
/*-----------------------------------------GENERAL------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font_family);
  color: var(--primary_dark);
  font-size: var(--font_size_base);
}

.content_container {
  width: 100%;
  padding-top: 100px;
}

.color_word {
  color: var(--primary_yellow);
}

a {
  text-decoration: none;
  color: var(--primary_dark);
}

.section_title {
  width: 80%;
  background-color: var(--primary_yellow);
  padding: var(--padding_button_xl);
  border-radius: var(--radius_lg);
  font-size: var(--font_size_medium);
  display: flex;
  justify-content: center;
  box-shadow: var(--shadow_md);
}
/*-------------------------------STYLE LISTE-------------------------------*/
ul {
  list-style: none;
}
/*-------------------------------STYLE LIENS-------------------------------*/
.link_animated {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: var(--spacing_xs);
}

.link_animated:hover {
  color: var(--primary_yellow);
}

.link_animated::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--primary_yellow_dark);

  transform: scaleX(0);
  transform-origin: left;
  animation: sabreLaserEffect 4s infinite alternate ease-in-out;
}

@keyframes sabreLaserEffect {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  50% {
    transform: scaleX(1);
    opacity: 1;
    background-color: var(--primary_yellow);
  }
  90% {
    transform: scaleX(0);
    transform-origin: right;
    opacity: 1;
    background-color: var(--primary_yellow_dark);
  }
  100% {
    transform: scaleX(0);
    transform-origin: right;
    opacity: 0;
  }
}
/*-------------------------------STYLE INPUT-------------------------------*/
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
button,
.last_link_nav a,
.signUp_btn,
.logIn_btn,
textarea {
  color: var(--primary_dark);
  border-radius: var(--radius_xl);
  padding: var(--padding_button_xl);
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

#sign_out {
  padding: var(--padding_button_sm);
  background-color: var(--primary_yellow);
}

.custom_checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.custom_checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  height: 24px;
  width: 24px;
  /* background-color: var(--primary_dark);
    border: 2px solid var(--primary_yellow); */
  background-color: var(--primary_yellow);
  border: 2px solid var(--primary_dark);
  border-radius: var(--_);
  margin-right: var(--spacing_md);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  /* border: solid var(--primary_yellow); */
  border: solid var(--primary_dark);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.custom_checkbox input:checked ~ .checkmark:after {
  display: block;
}

.avis_card:hover,
.form_container:hover,
.card_mission:hover,
.last_link_nav a:hover,
.signUp_btn:hover,
.logIn_btn:hover,
button:hover {
  transform: translateY(-4px);
  box-shadow: var(--shadow_lg);
}
/*------------------------------------------------------------------------------------------*/
/*-----------------------------------------HEADER-------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
header {
  background-color: var(--bg_primary);
  box-shadow: var(--shadow_lg);
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  width: 100%;
}
.div_logo a {
  display: inline;
  position: static;
  padding: 0;
}
.logo {
  height: 100px;
  width: 100px;
}
/*--------------------------------------NAV BAR---------------------------------------*/
nav {
  width: calc(95% - 100px);
  display: flex;
  align-items: center;
  justify-content: end;
}

.nav_bar_menu {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.last_link_nav a {
  background-color: var(--bg_primary);
  border: 2px solid var(--primary_yellow) !important;
}

.connection_btn.connected {
  display: none;
}

.profil.connected {
  display: flex;
}

.div_picto_menu,
.nav_bar_menu h1 {
  display: none;
}

.profil {
  display: none;
  align-items: center;
  justify-content: space-between;
}

.profil div {
  flex-direction: column;
}

.profil p {
  background-color: transparent;
  backdrop-filter: blur(40px);
}

.profil img {
  border-radius: var(--radius_circle);
  border: 3px solid var(--primary_yellow) !important;
  width: 97px;
  height: 97px;
}
/*------------------------------------------------------------------------------------------*/
/*-------------------------------------HERO SECTION-----------------------------------------*/
/*------------------------------------------------------------------------------------------*/
.hero_section {
  background-image: linear-gradient(
      rgba(16, 14, 37, 0.8),
      rgba(16, 14, 37, 0.8)
    ),
    url("../img/img-asso2-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--bg_primary);
  height: 85vh;
  width: 100%;
  box-shadow: var(--shadow_md);
  padding-top: var(--spacing_xl);
}

.hero_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.title_site {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tagline_site {
  width: 75%;
  text-align: center;
}

.block_connection_btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.signUp_btn,
.logIn_btn {
  min-width: 160px;
  text-align: center;
}

.logIn_btn {
  background-color: transparent;
  backdrop-filter: blur(40px);
  border: 2px solid var(--primary_yellow);
  color: var(--bg_primary) !important;
}

.signUp_btn {
  background-color: var(--primary_yellow);
  border: 2px solid var(--primary_dark);
}

.block_search {
  width: 50%;
  position: relative;
}

.search_input {
  width: 100%;
}

#search_validate_btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 0;
  line-height: 0;
  position: absolute;
  height: 100%;
  right: 15px;
}
/*------------------------------------------------------------------------------------------*/
/*-----------------------------------------ABOUT--------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
.about {
  width: 90%;
  margin: var(--spacing_xxl) auto;
}

.about_left,
.about_right {
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.txt_about_left,
.txt_about_right,
.img_about_left,
.img_about_right {
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--radius_lg);
}

.txt_about_left,
.txt_about_right {
  background-color: var(--primary_yellow);
  /* height: auto; */
  padding: var(--spacing_xxxl);
  z-index: 0;
  box-shadow: var(--shadow_lg);
}

.img_about_left img,
.img_about_right img {
  width: 80%;
  height: auto;
  border-radius: var(--radius_lg);
  align-items: center;
  box-shadow: var(--shadow_lg);
}

.txt_about_left {
  align-items: start;
}

.txt_about_left h3 {
  text-align: left;
  margin-left: 0;
}

.txt_about_left p {
  margin: var(--spacing_xl) 0;
  width: 90%;
}

.txt_about_right {
  align-items: end;
}

.txt_about_right h3 {
  text-align: right;
  margin-right: var(--spacing_xl);
}

.txt_about_right ul {
  text-align: right;
  margin-top: var(--spacing_xl);
  margin-right: var(--spacing_xl);
  width: 90%;
}

.txt_about_right li {
  margin-bottom: var(--spacing_xl);
}

#btn_learn_more {
  background-color: var(--primary_yellow);
}

.about_left .img_about_left {
  margin-left: -10%;
  z-index: 1;
  align-items: center;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.about_right .img_about_right {
  z-index: 1;
  margin-right: -10%;
  align-items: center;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.about_left .img_about_left.is_visible,
.about_right .img_about_right.is_visible {
  opacity: 1;
  transform: translateX(0%);
}
/*------------------------------------------------------------------------------------------*/
/*---------------------------------------MISSIONS-------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
.missions {
  width: 90%;
  margin: var(--spacing_xxl) auto;
}

.missions_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_missions_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: var(--spacing_lg) auto;
}

.card_mission {
  width: 30%;
  padding: var(--spacing_xs);
  background: var(--bg_secondary);
  /* background: #fff; */
  border-radius: var(--radius_xl);
  border: 1px solid var(--info);
  box-shadow: var(--shadow_md);
  overflow: hidden;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.card_header {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing_md);
}

.card_header h3 {
  padding: var(--spacing_md) 0;
  text-align: center;
}

.cat_mission {
  height: var(--font_size_medium);
  display: flex;
  align-items: center;
  color: var(--bg_primary);
  border-radius: var(--radius_lg);
  padding-left: var(--spacing_md);
}

.description {
  height: 20px;
  overflow: hidden;
  padding: 0 var(--spacing_md);
}

.card_info {
  color: var(--info);
  padding: var(--spacing_md);
}

.btn_group {
  padding: var(--spacing_xs);
  display: flex;
  justify-content: end;
}

.visible {
  display: none;
}

.view_more_mission {
  border-radius: var(--radius_lg);
  background-color: var(--primary_yellow);
  width: 60%;
  display: flex;
  justify-content: center;
  box-shadow: var(--shadow_md);
  padding: var(--padding_button_xl);
  cursor: pointer;
}

.view_more_mission button {
  all: unset;
}

.view_more_mission:hover {
  transform: translateY(-4px);
  box-shadow: var(--shadow_lg);
}

.miss01 img,
.miss01 .cat_mission {
  border: 2px solid var(--category_social);
  background-color: var(--category_social);
}
.miss02 img,
.miss02 .cat_mission {
  border: 2px solid var(--category_ecological);
  background-color: var(--category_ecological);
}
.miss03 img,
.miss03 .cat_mission {
  border: 2px solid var(--category_cultural);
  background-color: var(--category_cultural);
}
/*------------------------------------------------------------------------------------------*/
/*---------------------------------------CONTACTS-------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
.contact {
  width: 90%;
  margin: var(--spacing_xxl) auto;
  background: #fff;
  border-radius: var(--radius_lg);
  box-shadow: var(--shadow_md);
}

.contact_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: var(--spacing_md);
}

.form_header {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_contact {
  width: 80%;
  padding: var(--spacing_xl);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_footer {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tagline_contact {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-top: var(--spacing_lg);
  font-size: var(--font_size_medium);
}

.tagline_contact p {
  text-align: center;
}

.consent {
  display: flex;
  align-items: center;
  gap: var(--spacing_xs);
  padding-bottom: var(--spacing_md);
}

.contact_container button {
  background: var(--primary_yellow);
}

.form_contact input,
.form_contact textarea {
  width: 75%;
  border: 1px solid #ccc;
  border-radius: var(--radius_sm);
  margin: var(--spacing_md) auto;
}

#text_area_help,
#name_help,
#mail_help {
  display: none;
}

#text_area_help.visible,
#name_help.visible,
#mail_help.visible {
  display: block;
  color: var(--error);
}

#text_area_contact.invalid,
#name_contact.invalid,
#mail_contact.invalid {
  box-shadow: var(--shadow_error_lg);
}

#text_area_contact.valid,
#name_contact.valid,
#mail_contact.valid {
  box-shadow: var(--shadow_success_lg);
}
/*------------------------------------------------------------------------------------------*/
/*------------------------------------TESTIMONIALS------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
.testimonials {
  width: 90%;
  margin: var(--spacing_xxl) auto;
}

.testimonials_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block_testimonials {
  display: flex;
  justify-content: space-around;
}

.card_testimonials {
  width: 30%;
  margin-top: var(--spacing_xxxl);
  background-color: var(--bg_secondary);
  border-radius: var(--radius_lg);
}

.card_testimonials_container {
  position: relative;
  bottom: var(--spacing_xxl);
}

.entete_avis {
  display: flex;
  align-items: center;
  margin-left: var(--spacing_md);
}

.lib_mission_avis {
  width: 95%;
  margin-top: var(--spacing_xxl);
  margin-left: var(--spacing_sm);
}

.txt_avis p {
  margin: var(--spacing_md);
}

.icon_hearth {
  margin: var(--spacing_md);
}

#icon_hearth {
  width: 25px;
  height: auto;
}

#img_avatar {
  width: 110px;
  border-radius: var(--radius_lg);
  height: 110px;
}
/*------------------------------------------------------------------------------------------*/
/*----------------------------------------FOOTER--------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
footer {
  background-color: var(--primary_yellow);
  display: flex;
  flex-direction: column;
}

.high_footer {
  width: 100%;
  background-color: var(--primary_yellow);
  display: flex;
  justify-content: space-evenly;
  padding: var(--spacing_lg) 0;
}

.site_map,
.address_contact_footer {
  width: 40%;
}

.site_map {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: right;
}

.bottom_footer {
  background-color: var(--primary_yellow);
  display: flex;
  justify-content: space-around;
}

.blc_copy,
.bloc_picto {
  display: flex;
  align-items: center;
  width: 47.5%;
}

.bloc_picto {
  justify-content: end;
}

.blc_copy {
  font-size: var(--font_size_xs);
}

#picto {
  width: 45px;
  height: 45px;
}
/*------------------------------------------------------------------------------------------*/
/*---------------------------------------LOGIN_PAGE-----------------------------------------*/
/*------------------------------------------------------------------------------------------*/
.login_container {
  height: calc(85vh - 100px);
  background-image: linear-gradient(
      rgba(16, 14, 37, 0.8),
      rgba(16, 14, 37, 0.8)
    ),
    url("../img/img-asso2-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

.login_glob {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--spacing_md);
  margin: auto;
  background-color: var(--bg_primary);
  border: 2px solid var(--primary_yellow);
  border-radius: var(--radius_lg);
  padding: var(--spacing_md);
}

.login_form {
  padding: var(--spacing_xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--spacing_md);
}

.login_form button {
  background-color: var(--primary_yellow);
}

.input_login {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: var(--spacing_md);
}

.remember {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--spacing_md);
}

.create_account {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: var(--spacing_md) 0;
}

#buttonDiv {
  width: 50%;
  margin: var(--spacing_md) 0;
}
/*------------------------------------------------------------------------------------------*/
/*------------------------------------REGISTER_PAGE-----------------------------------------*/
/*------------------------------------------------------------------------------------------*/
.register_container {
  height: calc(85vh - 100px);
  background-image: linear-gradient(
      rgba(16, 14, 37, 0.8),
      rgba(16, 14, 37, 0.8)
    ),
    url("../img/img-asso2-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.register_glob {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing_md);
  margin: auto;
  background-color: var(--bg_primary);
  border: 2px solid var(--primary_yellow);
  border-radius: var(--radius_lg);
  padding: var(--spacing_md);
}

.register_btn {
  background-color: var(--primary_yellow);
}
/*------------------------------------------------------------------------------------------*/
/*------------------------------------FORGOTTEN_PAGE----------------------------------------*/
/*------------------------------------------------------------------------------------------*/
.forgotten_container {
  height: calc(80vh - 100px);
  background-image: linear-gradient(
      rgba(16, 14, 37, 0.8),
      rgba(16, 14, 37, 0.8)
    ),
    url("../img/img-asso2-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.forgotten_glob {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing_md);
  margin: auto;
  background-color: var(--bg_primary);
  border: 2px solid var(--primary_yellow);
  border-radius: var(--radius_lg);
  padding: var(--spacing_md);
}

.forgotten_btn {
  background-color: var(--primary_yellow);
}
