@media all and (max-width:580px) {
    .containers {
        width: 100vw;
        margin: 0;
    }

    .header-mobil {
        display: flex;
        justify-content: space-between;
        background-color: white;
    }

    .header-desktop,
    .titre-site {
        display: none;
    }

    .logo {
        width: 50px;
        height: 50px;
    }

    .logo-site-m {
        width: 70%;
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
    }

    .logo-site-m p {
        width: 100%;
        margin-top: 5%;
        margin-left: 2%;
    }

    .header-picto-m {
        width: 100%;
        height: 100%;
    }

    .header-right-m {
        width: 30%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .search-icon-m,
    .connect-icon-m,
    .menu-icon-m {
        background-color: #e0ab55;
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }

    .bloc-pres {
        flex-direction: column;
        width: 100%;
    }

    .who-are,
    .our-vision {
        width: 100%;
        margin-bottom: 1%;
    }

    .mission {
        padding-top: 1%;
    }

    .blc-mini-miss {
        width: 100%;
        margin: 2.5%;
    }

    .contact-left,
    .contact-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    .input-align {
        margin-bottom: 2%;
    }

    .button-formu {
        text-align: center;
        margin: 10% 0;
    }

}