@media all and (max-width: 860px) {
  body {
    font-size: 14px;
  }

  .header-desktop,
  .titre-site {
    display: none;
  }

  .header-mobil {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: white;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .logo-site-m {
    width: 70%;
    display: flex;
    align-items: center;
  }

  .logo-site-m p {
    width: 100%;
  }

  .header-picto-m {
    width: 100%;
    height: 100%;
  }

  .header-right-m {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .search-icon-m,
  .connect-icon-m,
  .menu-icon-m {
    background-color: #e0ab55;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }

  #hero-section {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  #hero-section .accroche-site {
    font-size: 20px;
    width: 95%;
  }

  .mission {
    padding-top: 1%;
    width: 100%;
  }

  .blc-btn-inscConnec {
    justify-content: center;
  }

  #glob-miss,
  #glob-card {
    flex-direction: column;
    width: 95%;
    margin: auto;
  }

  .bloc-pres {
    width: 95%;
    font-size: 14px;
  }

  #font-pres,
  #font-vision {
    height: auto;
  }

  .titre-blc-contact,
  .titre-last-mission,
  .titre-temoignage {
    font-size: 22px;
  }

  .titre-blc-contact {
    width: 100%;
  }

  .blc-mission {
    width: 100%;
  }

  .blc-mini-miss,
  .avis-card {
    width: 100%;
    margin: 2.5% 0;
  }

  .avis-card {
    margin-top: 55px;
  }

  .last {
    display: none;
  }

  .btn-more-miss {
    width: 80%;
  }
}
