/*------------------------------------------------------------------------------------------*/
/*-----------------------------------------GENERAL------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.roboto-Roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  font-family: "Roboto";
  color: #100e25;
  font-size: 20px;
}

ul {
  list-style: none;
}

a {
  position: relative;
  text-decoration: none;
  display: inline-block;
  overflow: hidden;
  padding-bottom: 5px;
  color: #100e25;
}

a:hover {
  color: #ffd900;
}

a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #755312;

  transform: scaleX(0);
  transform-origin: left;
  animation: sabreLaserEffect 4s infinite alternate ease-in-out;
}

@keyframes sabreLaserEffect {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  50% {
    transform: scaleX(1);
    opacity: 1;
    background-color: #ffd900;
  }
  90% {
    transform: scaleX(0);
    transform-origin: right;
    opacity: 1;
    background-color: #755312;
  }
  100% {
    transform: scaleX(0);
    transform-origin: right;
    opacity: 0;
  }
}

.color_word {
  color: #ffd900;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="button"],
textarea {
  color: #100e25;
  border-radius: 30px;
  padding: 12px 34px;
  min-height: 50px;
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

/* input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
input[type="search"]:hover, */
input[type="button"]:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

input[type="checkbox"] {
  cursor: pointer;
}
/*------------------------------------------------------------------------------------------*/
/*-----------------------------------------HEADER-------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
header {
  background-color: white;
  box-shadow: 0px 10px 13px -15px #100e25, 0px 5px 2px -3px rgba(0, 0, 0, 0.22);
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 100%;
}

header .logo_d {
  height: 120px;
  width: 120px;
}

header .nav_bar_d {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav_menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav_menu li {
  margin-right: 2%;
}

.btn_connec_nav {
  background-color: #fff;
  border: medium, solid, #ffd900;
}

.nav_menu h1,
#picto_burger,
#btn_close {
  display: none;
}
/*------------------------------------------------------------------------------------------*/
/*-------------------------------------HERO SECTION-----------------------------------------*/
/*------------------------------------------------------------------------------------------*/
.hero_section {
  background-image: linear-gradient(
      rgba(16, 14, 37, 0.8),
      rgba(16, 14, 37, 0.8)
    ),
    url("../img/img-asso2-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
  width: 100%;
  padding-top: 120px;
  box-shadow: 0 4px 8px rgba(16, 14, 37, 0.1);
}

.site_title {
  margin-top: 200px;
  text-align: center;
}

.accroche_site p {
  margin: 5% auto;
  text-align: center;
  width: 70%;
}

.blc_btn_connec {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 5% auto;
}

.btn_connec {
  background-color: #fff;
  border: medium, solid, #ffd900;
}

.btn_inscri {
  background-color: #ffd900;
  border: medium, solid, #100e25;
}

.btn_inscri,
.btn_connec {
  border-radius: 10px;
  min-width: 160px;
}

.bloc_search {
  height: 50px;
  width: 50%;
  display: flex;
  margin: auto;
}

.search_bar {
  width: 100%;
}
/*------------------------------------------------------------------------------------------*/
/*--------------------------------WHO ARE & OUR NUMBER--------------------------------------*/
/*------------------------------------------------------------------------------------------*/
.bloc_pres {
  width: 90%;
  margin: 5% auto 0 auto;
}

.who_are,
.our_number {
  display: flex;
  align-items: center;
  margin-top: 2.5%;
  overflow-x: hidden;
}

.font_pres,
.font_number,
.img_pres,
.img_number {
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.font_pres,
.font_number {
  background-color: #ffd900;
  height: auto;
  padding: 5%;
  z-index: 0;
  box-shadow: 0 4px 8px rgba(16, 14, 37, 0.1);
}

.img_pres img,
.img_number img {
  width: 80%;
  height: auto;
  border-radius: 15px;
  align-items: center;
  box-shadow: 0 4px 8px rgba(16, 14, 37, 0.1);
}

.font_pres {
  align-items: start;
}

.font_number {
  align-items: end;
}

.font_pres p {
  margin: 3.5% 0 3.5% 4.5%;
  width: 90%;
}

.font_number ul {
  text-align: right;
  margin-top: 2.5%;
  margin-right: 4.5%;
  width: 90%;
}

.font_number li {
  margin-bottom: 7%;
}

.btn_see_more {
  padding-top: 2.5%;
}

#btn_see_more {
  border: 1px, solid;
  background-color: #ffd900;
}

.who_are .img_pres {
  margin-left: -10%;
  z-index: 1;
  align-items: center;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.our_number .img_number {
  z-index: 1;
  margin-right: -10%;
  align-items: center;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.who_are .img_pres.is_visible,
.our_number .img_number.is_visible {
  opacity: 1;
  transform: translateX(0%);
}
/*------------------------------------------------------------------------------------------*/
/*---------------------------------------MISSIONS-------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
.bloc_mission {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 2.5% auto;
}

.bloc_mission_title {
  background-color: #ffd900;
  width: 70%;
  margin: auto;
  padding: 12px 34px;
  border-radius: 25px;
  text-align: center;
  font-size: 25px;
  box-shadow: 0 4px 8px rgba(16, 14, 37, 0.1);
}

.bloc_mission_title h3 {
  margin: auto;
}

.glob_miss {
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
}

.blc_mission {
  width: 30%;
  background: #fae1c4;
  /* background: #fff; */
  border-radius: 15px;
  border: 1px solid #e5e7eb;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.blc_mission:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.card_header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1.5%;
}

.miss01 img {
  border: 2px solid #2d1b55;
}
.miss02 img {
  border: 2px solid #1b5533;
}
.miss03 img {
  border: 2px solid #55291b;
}
.miss01 .cat_mission {
  background-color: #2d1b55;
}
.miss02 .cat_mission {
  background-color: #1b5533;
}
.miss03 .cat_mission {
  background-color: #55291b;
}

.card_header div {
  width: calc(90% - 110px);
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}

.card_header img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

.card_header h3 {
  color: #100e25;
  margin-bottom: 1%;
}

.cat_mission {
  font-size: 14px;
  color: #fff;
  padding: 3px 8.5px;
  border-radius: 15px;
}

.description {
  padding: 0 5%;
  height: 20px;
  overflow: hidden;
  color: #100e25;
  transition: height 0.5s ease;
}

.card_info {
  color: #6b7280;
  margin-top: 1%;
}

.card_footer {
  padding: 0 3% 5% 3%;
}

.btn_group {
  margin-top: 2%;
  margin-right: 2%;
  display: flex;
  justify-content: end;
}

.btn_toggle {
  text-decoration: none;
  cursor: pointer;
}

.visible {
  display: none;
}

.btn_more_miss {
  margin: 2% auto;
  border-radius: 15px;
  background-color: #ffd900;
  width: 60%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(16, 14, 37, 0.1);
  padding: 12px 34px;
  cursor: pointer;
}

.btn_more_miss input {
  all: unset;
}

.btn_more_miss input:hover {
  all: unset;
}

.btn_more_miss:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}
/*------------------------------------------------------------------------------------------*/
/*---------------------------------------CONTACTS-------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
.bloc_contact {
  width: 90%;
  margin: 0 auto 2.5% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 2%;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.bloc_contact_title {
  background-color: #ffd900;
  width: 100%;
  border-radius: 15px;
  padding: 12px 34px;
}

.phr_accroche {
  text-align: center;
  margin: 3% auto;
}

h3 {
  text-align: center;
  margin: auto;
}

.form-container input,
.form-container textarea {
  width: 100%;
  padding: 1%;
  margin: 2% 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container input[type="button"] {
  background: #ffd900;
  border: none;
  padding: 12px 34px;
  border-radius: 25px;
  cursor: pointer;
}

.form-container:hover {
  transform: scale(1.05);
}
/*------------------------------------------------------------------------------------------*/
/*------------------------------------TESTIMONIALS------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
.testimonials {
  width: 90%;
  margin: auto;
}

#img_avatar {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
/*------------------------------------------------------------------------------------------*/
/*----------------------------------------FOOTER--------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
footer {
  width: 100%;
}
/*------------------------------------------------------------------------------------------*/
/*-----------------------------------------MODAL--------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
.modal_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 14, 37, 0.45);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
