* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.roboto-Roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  font-family: "Roboto";
  color: #100e25;
  font-size: 20px;
}

ul {
  list-style: none;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="button"],
textarea {
  color: #100e25;
  border-radius: 30px;
  padding: 12px 34px;
  min-height: 50px;
}
/*----------------------------------HEADER----------------------------------------------*/
header {
  background-color: white;
  box-shadow: 0px 10px 13px -15px #100e25, 0px 5px 2px -3px rgba(0, 0, 0, 0.22);
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 100%;
}

header .logo_d {
  height: 120px;
  width: 120px;
}

.nav_bar_d {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav_menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav_menu .menu_link {
  margin-right: 2%;
}

.btn_connec_nav {
  background-color: #fff;
  border: medium, solid, #ffd900;
}

.nav_bar_d .btn_nav_close,
.nav_menu h1,
.icon_menu_burger {
  display: none;
}
/*-------------------------------HERO SECTION----------------------------------------------*/
.hero_section {
  background-image: linear-gradient(
      rgba(16, 14, 37, 0.8),
      rgba(16, 14, 37, 0.8)
    ),
    url("../img/img-asso2-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
  width: 100%;
  padding-top: 120px;
  box-shadow: 0 4px 8px rgba(16, 14, 37, 0.1);
}
/*-------------------------------WHO ARE & OUR NUMBER--------------------------------------*/
.bloc_pres {
  width: 90%;
  margin: 5% auto 0 auto;
}

.who_are,
.our_number {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}

#font_pres,
#font_number,
.img_pres,
.img_number {
  width: 80%;
  /* flex: 1; */
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

#font_pres,
#font_number {
  background-color: #ffd900;
  height: auto;
  padding: 5%;
  z-index: 0;
  box-shadow: 0 4px 8px rgba(16, 14, 37, 0.1);
}

.img_pres img,
.img_number img {
  width: 80%;
  height: auto;
  border-radius: 15px;
  align-items: center;
  box-shadow: 0 4px 8px rgba(16, 14, 37, 0.1);
}

#font_pres {
  align-items: start;
}

#font_number {
  align-items: end;
}

#font_pres p {
  margin:3.5% 0 3.5% 4.5%;
  width: 90%;
}

#font_number ul {
  text-align: right;
  margin-top: 2.5%;
  margin-right: 4.5%;
  width: 90%;
}

#font_number li {
  margin-bottom: 7%;
}

.btn_see_more {
  padding-top: 2.5%;
}

#btn_see_more {
  border: 1px, solid;
  background-color: #ffd900;
}

.who_are .img_pres {
  margin-left: -10%;
  z-index: 1;
  align-items: center;
}

.our_number .img_number {
  z-index: 1;
  margin-right: -10%;
  align-items: center;
}
/*------------------------------------MISSIONS-----------------------------------------*/
.bloc_mission {
  width: 90%;
  margin: auto;
}
/*------------------------------------CONTACTS-----------------------------------------*/
.contact {
  width: 90%;
  margin: auto;
}
/*------------------------------------TESTIMONIALS-----------------------------------------*/
.testimonials {
  width: 90%;
  margin: auto;
}
#img_avatar {
  width: 110px;
  border-radius: 25px;
  height: 110px;
}
/*------------------------------------FOOTER-----------------------------------------*/
footer {
  width: 100%;
}
/*------------------------------------MODAL-----------------------------------------*/
