@media all and (max-width: 1275px) and (min-width: 861px) {
  /*------------------------------------------------------------------------------------------*/
  /* ----------------------------------- GESTION GENERALE ----------------------------------- */
  /*------------------------------------------------------------------------------------------*/
  .last {
    display: none;
  }
  /*-------------------------------------------------------------------------------------------*/
  /* ---------------------------------------- BLOC HEADER ------------------------------------ */
  /*------------------------------------------------------------------------------------------*/
  /* CACHER COMPLÈTEMENT LES ÉLÉMENTS MOBILES */
  .nav_bar {
    display: flex;
    position: static;
    width: 100%;
    height: auto;
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    /* Important : annule toute transition pour la nav_bar sur desktop */
    transition: none !important;
  }
  .overlay_menu_mobile {
    display: none;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    /* Important : annule toute transition pour l'overlay sur desktop */
    transition: none !important;
  }
  .menu_icon_m, /* Ajoute tous les éléments mobiles ici pour les cacher */
    #btn_close,
    .btn_nav_close,
    .mobile_title,
    .burger_title {
    display: none;
    transition: none !important; /* Et annule leurs transitions */
  }
  /*-------------------------------------------------------------------------------------------*/
  /* ------------------------------------ BLOC HERO SECTION ---------------------------------- */
  /*-------------------------------------------------------------------------------------------*/
  .blc_btn_connec .btn_connec {
    margin-top: 10px;
  }
  /*-------------------------------------------------------------------------------------------*/
  /* ---------------------------------- BLOC PRESENTATION ------------------------------------ */
  /*-------------------------------------------------------------------------------------------*/
  .bloc_pres {
    width: 95%;
    font-size: 18px;
  }

  #font_pres,
  #font_vision {
    height: auto;
    padding: 2.5%;
  }

  #font_vision ul {
    width: 80%;
  }
  /*-------------------------------------------------------------------------------------------*/
  /* ------------------------------------ BLOC MISSION --------------------------------------- */
  /*-------------------------------------------------------------------------------------------*/
  .blc_mission,
  .avis_card {
    width: 48%;
  }

  .btn_more_miss {
    width: 80%;
  }
}
