@media all and (max-width: 1024px) and (min-width: 769px) {
  .last {
    display: none;
  }

  .avis_card,
  .blc_mission {
    width: 45%;
  }
  /*------------------------------------------------------------------------------------------*/
  /*-----------------------------------------HEADER-------------------------------------------*/
  /*------------------------------------------------------------------------------------------*/
  header {
    height: 100px;
  }
  header .logo_m, 
  header .logo_d {
    display: none;
  }
  header .logo_t {
    display: block;
    width: 100px;
    height: 100px;
  }
  /*------------------------------------------------------------------------------------------*/
  /*-------------------------------------HERO SECTION-----------------------------------------*/
  /*------------------------------------------------------------------------------------------*/
 .glob_hero {
    padding-top: calc(100px + var(--spacing_md));
  }
}
